audioread
scipy
appdirs
gnutools-python>=2.3.2
python-levenshtein
torch
visdom
wget
librosa
tqdm
matplotlib
ascii_graph
tensorboardX
numba
numpy>=1.23.3
PyYaml
zakuro-ai
sakura-ml>=0.1.1
ipywidgets
pandas
bpd